/* Default Overrides
=====================================*/
html, body {
  color: #E2E2E2;
  background-color: #fff;
  background-image: url(../img/fabric_plaid.png);
  background-repeat: repeat;
  font-family: 'Monda', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  color: #ED5C96;
  font-family: 'Racing Sans One', arial, cursive;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 24px;
  margin: 1px 20px 0 0;
  color: #ED5C96;
}

[class^="icon-menu-1"], [class*=" icon-menu-1"] {
  font-size: 24px;
  margin: -2px 15px 0 -5px;
  color: #ED5C96;
}

[class^="icon-meetup"], [class*=" icon-meetup"] {
  font-size: 40px;
}

[class^="icon-meetup"].large, [class*=" icon-meetup"].large {
  font-size: 48px;
  margin-top: -9px;
  margin-left: -9px;
}

a, a > i {
  color: #ED5C96;
}

a:hover, a > i:hover {
  text-decoration: none;
  color: #A32C5C;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #5A5A5A;
  border-bottom: 1px solid black;
}

.row-fluid {
  margin: 10px 0;
}

.center {
  text-align: center;
}

.opaque {
  opacity: 0.9;
  padding: 20px;
  margin: 50px;
}

.warning {
  text-align: center;
  margin: 100px 0;
}

span.bold {
  font-size: 1.4em;
  font-weight: bold;
  color: #E2D156;
}

/* Header & Nav
=====================================*/
.navbar-fixed-top {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  font-family: 'Racing Sans One', cursive;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  padding: 10px 0;
}

.navbar .brand {
  padding: 0px 10px 0px;
  width: 120px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #E2D156;
  font-size: 1.3em;
  font-weight: bold;
}

.navbar-inverse .brand {
  font-size: 2.0em;
}

.navbar-inverse .navbar-inner {
  border-color: #474747;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.jumbotron {
  position: relative;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: rgb(243, 236, 220);
  /*background: #020031;
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
  background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );*/
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

/* Content
====================================*/
.profiles {
  margin-top: 10px;
}

.profile {
  width: 100%;
  max-height: 200px;
}

.content {
  margin-top: 60px;
}

/* Footer
=====================================*/
footer, #push {
  height: 60px;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #1B1B1B;
  background-image: -moz-linear-gradient(top,rgb(116, 116, 116),rgb(63, 63, 63));
  background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(116, 116, 116)),to(rgb(63, 63, 63)));
  background-image: -webkit-linear-gradient(top,rgb(116, 116, 116),rgb(63, 63, 63));
  background-image: -o-linear-gradient(top,rgb(116, 116, 116),rgb(63, 63, 63));
  background-image: linear-gradient(to bottom,rgb(116, 116, 116),rgb(63, 63, 63));
  background-repeat: repeat-x;
  border-top: solid 1px #474747;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
  -webkit-box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9);
     -moz-box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9);
}

.footer-social {
	text-align: center;
}

.copyright {
  text-align: center;
}

.footer-social i {
  font-size: 24px;
  padding-right: 15px;
  color: #ED5C96;
}

.footer-social i:hover {
  color: #A32C5C;
}

/* Responsive Overrides
=====================================*/
@media (max-width: 979px) {
  .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #E2D156;
  }

  .content {
    margin-top: -20px;
  }
}

@media (max-width: 767px) {
  #push {
    height: 0;
  }

  footer {
    height: 80px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }

  .opaque {
    margin: 10px;
  }

  .container-fluid {
    margin: 0 20px;
  }

  .dl-horizontal dd {
    margin-top: -20px;
  }
}

@media (max-width: 480px) {
  footer {
    height: 100px;
  }
}
